{{ define "main" }}

<div class="articleContainer">
    <header class="article--header">
        <h2 class="article--headline">{{ .Title }}</h2>
    </header>
    {{ if .IsTranslated }}
    <div class="translatedCard">
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end
                    }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="grap article--body">
        {{ .Content }}
    </div>
</div>

{{ end }}