<!-- 文章元信息 -->
<article class="block--item" data-id="{{ .File.UniqueID }}" itemtype="http://schema.org/Article" itemscope="itemscope">
    <!-- 文章标题 -->
    <h2 class="block--title">
 

 <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>

    <!-- 文章元信息 -->
    <div class="block--addon">
        <div class="meta">
            <div class="block--snippet">
                <!-- 文章摘要 -->
                <div class="summary">{{ .Summary | plainify | truncate 75 }}</div>
                <!-- 文章元数据 -->
               
            </div>
        </div>

        <!-- 文章封面图 -->
        {{ $cover := .Params.image | default "/images/1.jpg" }}
        <img src="{{ $cover | relURL }}" class="block--cover" itemprop="image" alt="{{ .Title }}" loading="lazy">
    </div>
</article>