{{ define "main" }}
<div class="post--list">
    <header class="term--header">
        <dic class="term--header__content">
            <h1 class="term--title">{{.Title}}</h1>
            {{ if .Params.description }}
            <div class="term--description">{{ .Params.description }}</div>
            {{ end }}
        </dic>
    </header>
    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    <div class="block--list">
        {{- range $index, $page := $paginator.Pages }}
        {{ if eq .Type "memo" }}
        {{ partial "memo.html" . }}
        {{ else }}
        {{ partial "post.html" . }}
        {{ end }}
        {{ end }}
    </div>
    {{ $paginator := .Paginate (where .Pages "Type" "post") }}
    <nav class="navigation ">
        <div class="nav-links">
            {{ range $paginator.Pagers }}
            <a class="page-numbers{{ if eq . $paginator }} current{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
        </div>
    </nav>
</div>
{{ end }}